<!DOCTYPE xml>
<web-app>
  <servlet>
    <servlet-name>relatorioController</servlet-name>
    <servlet-class>br.com.joe.apresentacao.RelatorioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>relatorioController</servlet-name>
    <url-pattern>/corporativo/relatorio</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>vendaController</servlet-name>
    <servlet-class>br.com.joe.apresentacao.VendaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vendaController</servlet-name>
    <url-pattern>/corporativo/venda</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>produtoController</servlet-name>
    <servlet-class>br.com.joe.apresentacao.ProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>produtoController</servlet-name>
    <url-pattern>/corporativo/produto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>categoriaController</servlet-name>
    <servlet-class>br.com.joe.apresentacao.CategoriaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>categoriaController</servlet-name>
    <url-pattern>/corporativo/produto/categoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>clienteController</servlet-name>
    <servlet-class>br.com.joe.apresentacao.ClienteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clienteController</servlet-name>
    <url-pattern>/corporativo/cliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>funcionarioController</servlet-name>
    <servlet-class>br.com.joe.apresentacao.FuncionarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>funcionarioController</servlet-name>
    <url-pattern>/corporativo/funcionario</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>filtroSeguranca</filter-name>
    <filter-class>br.com.joe.apresentacao.FiltroSeguranca</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filtroSeguranca</filter-name>
    <url-pattern>/corporativo/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>validacaoDeAcesso</servlet-name>
    <servlet-class>br.com.joe.apresentacao.ValidacaoDeAcesso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validacaoDeAcesso</servlet-name>
    <url-pattern>/validacaoDeAcesso</url-pattern>
  </servlet-mapping>
</web-app>