<!DOCTYPE xml>
<web-app>
	<servlet>
		<servlet-name>clienteController</servlet-name>
		<servlet-class>controller.ClienteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>clienteController</servlet-name>
		<url-pattern>/corporativo/cliente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>usuarioController</servlet-name>
		<servlet-class>controller.UsuarioController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>usuarioController</servlet-name>
		<url-pattern>/corporativo/usuario</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>filtroSeguranca</filter-name>
		<filter-class>controller.FiltroSeguranca</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filtroSeguranca</filter-name>
		<url-pattern>/corporativo/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>validacaoDeAcesso</servlet-name>
		<servlet-class>controller.ValidacaoDeAcesso</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>validacaoDeAcesso</servlet-name>
		<url-pattern>/validacaoDeAcesso</url-pattern>
	</servlet-mapping>
</web-app>